<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans+Narrow&display=swap'); </style>
    <link rel="stylesheet" href="/static/styles.css">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>
<body class="body">
    
    <div class="navigation">
        <p class="shadow" id="main-title">ConcertChecklist</p>
        <a class="link" href="/">Home</a>
        <a class="link" href="/concerts">Concerts I've Attended</a>
        <a class="link" href="/bucketlist">Concerts I Will Attend</a>
    </div>

    {% for message in get_flashed_messages() %}
        <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}

    <div class="main-block">
    {% block body %}{% endblock %}
    <a class="shadow" id= "logout" href="/logout">Logout</a>
    </div>


    {% block after_body %}
    {% endblock %}

</body>
</html>