{% extends 'base.html' %}
{% block title %}Concert Bucketlist{% endblock %}

{% block body %}

<h1 id="subhead" class="shadow">My Concert Bucketlist</h1>
    <div id = "band-list">
        {% for concert in bucket_list %}
                    <a class="band-list-info" href="/bucketlist/{{ concert.future_concert_id }}">
                         {{ concert.band_name }}
                    </a><br>
        {% endfor %}
    </div>

 <h1 id="subhead" class="shadow">Add To Your Bucketlist</h1>
    <div id="add-band-form">
        <form method="POST" action="/bucketlist">
            <div>{{ form.band_name.label }}: {{ form.band_name(class="band-input") }}</div>
            <div>{{ form.genre.label }}: {{ form.genre(class="band-input") }}</div>
            <div>{{ form.band_pic_path.label }}: {{ form.band_pic_path(class="band-input") }}</div>
            {{ form.csrf_token }}
            <button id="button-font" class ="btn btn-primary" type="submit">Add to list</button>
     </form>

     <a id= "logout" href="/logout">Logout</a>

    
{% endblock %}

{% block after_body %}{% endblock %}