{% extends 'base.html' %}
{% block title %}Concert Bucketlist{% endblock %}

{% block body %}

    <div id = "band-list">
        <h1 class="shadow">My Concert Bucketlist</h1>
        {% for concert in bucket_list %}
                <li class="band-list-info">
                    <a class="band-list-info" href="/bucketlist/{{ concert.future_concert_id }}">
                         {{ concert.band_name }}
                    </a>
                </li>
        {% endfor %}
    </div>

    <div id="add-band-form">
        <h1 class="shadow">Add To Your Bucketlist</h1>
        <form method="POST" action="/bucketlist">
            <div>{{ form.band_name.label }}: {{ form.band_name }}</div>
            <div>{{ form.genre.label }}: {{ form.genre }}</div>
            <div>{{ form.band_pic_path.label }}: {{ form.band_pic_path }}</div>
            {{ form.csrf_token }}
            <button class ="btn btn-primary" type="submit">Add to list</button>
     </form>

     <a class="shadow" id= "logout" href="/logout">Logout</a>

    
{% endblock %}

{% block after_body %}{% endblock %}