{% extends 'base.html' %}

{% block title %}Concerts I've Attended{% endblock %}

{% block body %}

<h1 id="subhead" class="shadow">Concerts I've Attended</h1>

<div id = "band-list">
    {% for concert in concerts %}
                <a class="band-list-info" href="/concerts/{{ concert.concert_id }}">
                     {{ concert.band_name }}
                </a><br>
    {% endfor %}
</div>

<h1 id="subhead" class="shadow">Add a Concert </h1>
    
<div id="add-band-form">
    <form class="band-input-form" method="POST" action="/concerts">
        <div class="form-input">{{ form.band_name.label }}: {{ form.band_name(class="band-input") }}</div>
        <div class="form-input">{{ form.date.label }}: {{ form.date(class="band-input") }}</div>
        <div class="form-input">{{ form.genre.label }}: {{ form.genre(class="band-input") }}</div>
        <div class="form-input">{{ form.venue.label }}: {{ form.venue(class="band-input") }}</div>
        <div class="form-input">{{ form.location.label }}: {{ form.location(class="band-input") }}</div>
        <div class="form-input">{{ form.band_pic_path.label }}: {{ form.band_pic_path(class="band-input") }}</div>
        {{ form.csrf_token }}
        <button id="button-font" class ="btn btn-primary" type="submit">Add Concert</button>
 </form>
    
</div>

<a id= "logout" href="/logout">Logout</a>

{% endblock %}

{% block after_body %}{% endblock %}

