{% extends 'base.html' %}
{% block title %}Concert Checklist{% endblock %}


    
{% block body %}
<h1>Concert Checklist</h1>
<p class="about-paragraph">A place for live-music enthusiasts to <br>track the artists they've seen live<br>and the artists they will see live</p>


<div>
<p class="about-paragraph"><br>tell us who you've seen here:</p>
<a href="/concerts">Concerts I've attended</a>
</div>

<div>
    <p class="about-paragraph"><br>and who you want to see here:</p>
    <a href="/bucketlist">Concerts I will attend</a>
</div>

<a href="/logout">Logout</a>
    
{% endblock %}