{% extends 'base.html' %}
{% block title %}Concert Checklist{% endblock %}


    
{% block body %}
<div class="home-box">
    <h1 class="shadow">Concert Checklist</h1>
    <p class="about-paragraph">A place for live-music enthusiasts to <br>track the artists they've seen live<br>and the artists they will see live</p>


    <div>
    <p class="about-paragraph"><br>Tell us who you've seen here:</p>
    <a class="home-link" href="/concerts">Concerts I've attended</a>
    </div>

    <div>
        <p class="about-paragraph"><br>And who you want to see here:</p>
        <a class="home-link" href="/bucketlist">Concerts I will attend</a>
    </div>
</div>
    
{% endblock %}

{% block after_body %}{% endblock %}