{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="log-in-box">
    <h1 class="shadow">Log In</h1>

    <p class="about-paragraph">Happy you're here... <br></p>
    <p class="about-paragraph">...but you gotta log in first.</p>
    <form method="POST" action="/login">
        <div>{{ form.email.label }}: {{ form.email }}</div>
        <div>{{ form.password.label }}: {{ form.password }}</div>
        {{ form.csrf_token }}
        <button class ="btn btn-primary" type="submit">Sign In</button>
    </form>
</div>

{% endblock %}

{% block after_body %}{% endblock %}