{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}

    <p id="about-paragraph-1">Happy you're here... <br></p>
    <p id="about-paragraph-2">...but you gotta log in first.</p>
    <form class="login-form"method="POST" action="/login">
        <div id="login-email-box">{{ form.email.label }}: {{ form.email }}</div>
        <div id="login-password-box">{{ form.password.label }}: {{ form.password }}</div>
        {{ form.csrf_token }}
        <button id="login-button" class ="btn btn-primary" type="submit">Sign In</button>
    </form>

{% endblock %}

{% block after_body %}{% endblock %}