{% extends "base.html" %}
{% block title %}{{ concert.band_name }} - Details{% endblock %}

{% block body %}

<div class="band-info-box">
    <h1 id="band-name-header" class="shadow">{{ concert.band_name }}</h1>

    <p class="band-info-text">{{ concert.genre }}</p>
    <p class="band-info-text">{{ concert.date }}</p>
    <p class="band-info-text">{{ concert.venue }}</p>
    <p class="band-info-text">{{ concert.location }}</p>

    <img class="pic" src="{{ concert.band_pic_path }}">
    <br>
    <a class ="back-button" href="/concerts">Back</a>
</div>


{% endblock %}

{% block after_body %}{% endblock %}